@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --font-primary: Lato, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-heading: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --font-weight-black: 900;
  --font-weight-medium: 520;
  --font-weight-regular: 400;
  --font-weight-normal: 300;

  /* Colors */
  --color-black: #040404;
  --color-white: #ffffff;
  --color-bg-dark: #272223;
  --color-bg-light: #f6f2ec;
  --color-bg-yellow: #edb365;
  --color-grey: #e2dccf;
  --color-dark-grey: #434343;
  --color-text-grey: #a09e9e;
  --color-highlight: #edb365;
  --color-dark-highlight: #b1721e;
  --color-dark-divider: #e0d8cd;
  --color-bg-dark-brown: #543409;

  /* Base font size */
  --font-size-display: 5.5rem;
  --font-size-quote: clamp(2rem, 4vw + 1rem, 2.7rem);
  --font-size-body: 1.25rem;
  --font-size-small: 0.875rem;
  --font-size-tiny: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 100%; */
}

html,
body {
  height: 100%;
  font-family: var(--font-primary);
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* font-size: var(--font-size-body); */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading);
  line-height: 1.2;
  text-wrap: balance;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

.heading-style-h1-display {
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 2rem;
}

.heading-style-h2 {
  font-size: 2.25rem;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

p,
li,
span,
div {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-normal);
  text-wrap: pretty;
  font-size: var(--font-size-body);
}

li {
  list-style: none;
  display: block;
}

.wrapper {
  width: 100%;
  max-width: 84rem;
  margin: 0 auto;
  padding: 1.5rem 2.5rem;
}
q {
  font-size: var(--font-size-quote);
  font-weight: bold;
  font-family: var(--font-heading);
  quotes: none;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-bottom: 1.5rem;
  padding: 10px 20px;
  line-height: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.tiny-txt {
  font-size: var(--font-size-tiny);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

img {
  display: block;
  aspect-ratio: auto;
  width: auto;
  overflow: auto;
  object-fit: fill;
  height: 100%;
  max-width: none;
  border-radius: 0.75rem;
}

.img-no-radius {
  border-radius: 0;
}

.img-wrapper {
  border-radius: 0;
  /* justify-content: flex-end; */
  align-items: flex-start;
  width: 100%;
  height: auto;
  max-height: 450px;
  display: flex;
  overflow: hidden;
}

.max-h-800 {
  max-height: 800px;
}

button {
  border: none;
  cursor: pointer;
}

.btn-wrapper {
  display: flex;
}

.normal-button {
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 2.5rem;
  font-family: var(--font-heading);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  display: flex;
  align-items: center;
  background-color: var(--color-grey);
  color: var(--color-black);
  text-decoration: none;
  flex-grow: 0;
  flex-shrink: 0;
  width: auto;
  margin: 0;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.normal-button:hover {
  background-color: var(--color-bg-yellow);
  /* color: white; */
}

.button-second:hover {
  background-color: var(--color-black);
  color: white;
}

.margin-bottom-normal {
  margin-bottom: 2.5rem;
}

.home-img {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

.divider {
  background-color: var(--color-dark-divider);
  height: 2px;
  margin: 1.5rem 0;
}

.padding-normal {
  padding: 4rem 0;
}

.footer-socials {
  display: flex;
  gap: 0.5rem;
}

.no-content{
  color: red;
}

.p-margin-bottom{
  margin-bottom: 2rem;
}

.socialIcon img {
  border-radius: 0 !important;
}

.multi-column-text {
  column-count: 2;
  column-gap: 2rem;
}

.column p{
  margin-bottom: 1.5rem;
}

.break-column {
  break-before: column;
}

.max-width-large {
  max-width: 48rem;
}

.max-width-large >p{
  margin-bottom: 1.5rem;
}


@media (max-width: 768px) {
  .multi-column-text {
    column-count: 1;
  }
  .heading-style-h1-display{
    font-size: 3.5rem;
  }

  .break-column {
  break-before: avoid;
}
}
