---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Testimonials from "../components/Testimonials.astro";
import { getSingleEntry } from "../lib/getContentfulEntry";
import { processImageAsset, getImageUrl } from "../utils/imageHelper.js";
import { renderRichText } from "../utils/renderRichText.js";

const acteren = await getSingleEntry("acterenPage");
const heroImage = acteren?.heroImage
  ? processImageAsset(acteren.heroImage)
  : null;

const mainImage = acteren?.acterenMainImage
  ? processImageAsset(acteren.acterenMainImage)
  : null;

const rawRichText = acteren?.bodyText;
const richTextHtml = rawRichText ? renderRichText(rawRichText) : "";

---

<BaseLayout title="acteren" description="acteren">
  <Hero
    backgroundImage={heroImage?.url}
    title={acteren ? acteren.headerText : "content not found"}
  />
  <section class="act-section">
    <div class="wrapper">
      <div class="act-intro">
        <div class="act-content-wrapper">
          <div class="act-content">
            <div class="intro-indict">
              <p class="tiny-txt">
                {acteren ? acteren.labelText : "content not found"}
              </p>
            </div>
            <h2 class="heading-style-h2">
              {acteren ? acteren.subHeaderText : "content not found"}
            </h2>
            <div class="max-width-large" set:html={richTextHtml} />
          </div>
          <div class="act-img">
            {mainImage && <img src={mainImage.url} alt={mainImage.alt} />}

          </div>
        </div>
      </div>
    </div>
  </section>
  <Testimonials />
</BaseLayout>

<style>
  .act-section {
    background-color: var(--color-bg-light);
    padding: 6rem 0;
  }
  .act-content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    max-width: 100%;
  }
  .act-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .act-img {
    max-height: 700px;
    flex: 2;
  }
  .act-img img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  @media (max-width: 990px) {
    .act-content-wrapper {
      flex-direction: column;
    }
    .act-img {
      /* flex: 1; */
      /* width: 100%; */
    }
    .act-img img {
      width: 100%;
      height: auto;
      max-height: 440px;
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }
</style>
