---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout title="Home" description="Homepage Wail Alami">
  <section class="hero-section">
    <div class="wrapper hero">
      <div class="hero-grid">
        <div class="hero-img-wrapper">
          <img class="hero-img" src="/images/wail_main-home-hero.jpg" alt="" />
        </div>
        <div class="hero-side">
          <h1 class="display-txt">Wail Alami</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="home-intro">
    <div class="wrapper">
      <h2>OVER MIJ</h2>
      <div class="home-intro-text">
        <p>
          Mijn reis, gekenmerkt door veerkracht en zelfontwikkeling na het
          overwinnen van een zeldzame vorm van kanker, heeft mijn passie gevormd
          om anderen te inspireren en motiveren. Als toegewijde trainer &
          trainingsacteur werk ik nauw samen met organisaties, waarbij
          interactieve rollenspellen en scenario's worden gecreëerd om
          competenties en communicatieve vaardigheden te bevorderen.
          <br />
          <br />
          Maar mijn betrokkenheid gaat verder. Ik deel mijn inzichten ook via trainingen
          over stressmanagement en effectief communiceren, waarin ik praktische tools
          aanreik om de uitdagingen van het moderne leven aan te gaan. Stress is
          een universele factor, en het is mijn missie om anderen te helpen niet
          alleen te overleven, maar te floreren in een wereld die vaak veeleisend
          is. Daarnaast deel ik mijn verhaal en expertise in inspirerende lezingen.
          Deze lezingen gaan verder dan het delen van ervaringen; ze zijn bedoeld
          om een vonk van motivatie te ontsteken en een positieve verandering in
          gang te zetten.
          <br />
          <br />
          Samen werken we aan een toekomst waarin groei, zowel persoonlijk als professioneel,
          centraal staat. Of het nu op het podium is als acteur, tijdens trainingen
          over weerbaarheid en stressmanagement of in inspirerende lezingen, mijn
          doel is eenvoudig: anderen helpen hun volledige potentieel te realiseren.
          Laten we samen bouwen aan een krachtige gemeenschap van groei en welzijn.
        </p>
      </div>
      <div class="link-wrapper">
        <a href="https://www.crkbo.nl/" class="crkbo-link" target="_blank">
          <div class="img-wrapper">
            <img src="/images/CRKBO.svg" alt="CRKBO link" />
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="home-werk">
    <div class="wrapper">
      <div class="home-trainingen">
        <div class="home-content-block">
          <p class="tiny-txt">Trainingen</p>
          <h2>Trainingen</h2>
          <p class="margin-bottom-normal">
            We hebben allemaal te maken met lastig gedrag en soms zelfs agressie
            op de werkvloer. Hoe ga je hier professioneel en zelfverzekerd mee
            om? Daarnaast ervaren we allemaal stress. Maar hoe kun je stress
            effectief managen en zorgen voor je emotionele welzijn? Op
            interactieve wijze train ik jouw werknemers en voorzie ik hen van
            praktische tools om met lastig gedrag, agressie en stress om te gaan
            en hun emotionele welzijn te versterken
          </p>
          <div class="btn-wrapper">
            <a href="/trainingen" class="normal-button">Trainingen</a>
          </div>
        </div>
        <div class="img-wrapper">
          <img src="/images/wail_home-trainingen.jpg" alt="" class="home-img" />
        </div>
      </div>

      <div class="home-acteren">
        <div class="img-wrapper">
          <img src="/images/wail_home-acteur.jpg" alt="" class="home-img" />
        </div>
        <div class="home-content-block">
          <p class="tiny-txt">Trainingsacteren</p>
          <h2>Trainingsacteur</h2>
          <p class="margin-bottom-normal">
            Als trainingsacteur draag ik bij aan het verbeteren van de
            communicatieve vaardigheden van uw werknemers. Met mijn ervaring en
            educatieve achtergrond beschik ik over alles wat nodig is om
            diversiteit, maatwerk en plezierige trainingen te bieden, met
            realistische scenario's die nauw aansluiten op uw werk.
          </p>
          <div class="btn-wrapper">
            <a href="/acteren" class="normal-button">Trainingsacteur</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="logo-carousel">
    <div class="carousel-header">
      <h2>Samen gewerkt met</h2>
    </div>
    <div class="carousel-track">
      <div class="carousel-slide">
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo_fiod_nl.png"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Logo_ministerie_van_defensie_vector.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Logo_politie.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo_sanquin_black.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo-gemeente.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Logo-handhaving-nederland.png"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo-rotterdam.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo-uwv.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Ministerie_van_Buitenlandse_Zaken_Logo.jpeg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Roc-logo.png"
          alt=""
        />
      </div>

      <div class="carousel-slide">
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo_fiod_nl.png"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Logo_ministerie_van_defensie_vector.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Logo_politie.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo_sanquin_black.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo-gemeente.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Logo-handhaving-nederland.png"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo-rotterdam.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/logo-uwv.svg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Ministerie_van_Buitenlandse_Zaken_Logo.jpeg"
          alt=""
        />
        <img
          class="carousel-img"
          src="/images/carousel-logos/Roc-logo.png"
          alt=""
        />
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  .hero-section {
    color: white;
    background-color: var(--color-bg-dark);
  }

  .hero-grid {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-direction: row;
    grid-template-rows: auto;
    grid-template-columns: 0.5fr 0.5fr;
    grid-auto-columns: 1fr;
    align-items: stretch;
  }

  .hero-img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
  }

  .hero {
    padding-bottom: 0;
  }

  .hero-side {
    display: flex;
    justify-content: flex-start;
    padding-top: 30%;
  }

  .display-txt {
    font-size: 5.5rem;
  }

  .home-intro {
    padding-top: 6rem;
    background-color: var(--color-bg-light);
    margin-bottom: 6rem;
  }

  .home-intro-text {
    max-width: 50rem;
    padding-bottom: 2rem;
  }

  .crkbo-link {
    max-width: 100%;
    display: inline-block;
  }

  .home-intro {
    padding-top: 6rem;
    background-color: var(--color-bg-light);
    margin-bottom: 6rem;
  }

  .home-intro-text {
    max-width: 50rem;
    padding-bottom: 2rem;
  }
  .home-trainingen {
    grid-column-gap: 4rem;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    margin-bottom: 6rem;
  }

  .home-content-blok p {
    margin-bottom: 2.5rem;
  }

  .home-trainingen .img-wrapper {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: auto;
    max-height: 479px;
  }

  .home-img {
    max-width: 479px;
  }

  .home-acteren {
    grid-column-gap: 4rem;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  /* --------- Carousel ----------- */

  .carousel-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
  }

  .logo-carousel{
    overflow: hidden;
    padding: 4rem 0;
  }

  .carousel-track{
    display: flex;
    width: max-content;
    animation: scroll-left 30s linear infinite;
  }

  .carousel-slide{
    display: flex;
    gap: 4rem;
    margin-left: 4rem;
  }

  .carousel-img {
    border-radius: 0;
    height: 80px;
    object-fit: contain;
  }

  /* animation */
  @keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


</style>
