---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="over-mij" description="Over mij">
  <section class="over-mij-section">
    <div class="wrapper">
      <div class="over-mij-header">
        <div class="over-mij-image-wrapper">
          <img
            class="over-mij-main-img"
            src="/images/over-mij-main.jpg"
            alt=""
          />
        </div>
        <div class="over-mij-heading-wrapper">
          <h1 class="heading-style-h1-alt">
            Ik heb mijn leven na een zware periode radicaal veranderd.
          </h1>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="sub-content-block">
        <div class="multi-column-text">
          <p>
            Op jonge leeftijd stond ik voor een immense uitdaging: een zeldzame
            vorm van kanker. Na jaren van intense behandelingen, waaronder
            chemotherapie, doorstond ik het met bloed, zweet en tranen. In die
            moeilijke periode beloofde ik mezelf dat als ik zou genezen en
            herstellen, ik mijn leven zou wijden aan het verbeteren van de
            wereld om me heen. Mijn missie? Mensen weerbaarder maken, inspireren
            en motiveren tot zelfontwikkeling in de ruimste zin van het woord.
            <br />
            <br />
            Dankzij uitgebreid onderzoek, toewijding, en de steun van medische professionals
            slaagde ik erin om te genezen en mijn kracht te hervinden. Mijn achtergrond
            in filosofie, mijn expertise op verschillende gebieden binnen de psychologie,
            en mijn ervaring in zowel maatschappelijk als commercieel werk hebben
            mij gevormd tot wie ik vandaag ben. Deze combinatie van kennis en praktijkervaring
            stelt mij in staat om complexe vraagstukken vanuit verschillende invalshoeken
            te benaderen en anderen effectief te ondersteunen.
          </p>
          <p class="break-column">
            Mijn rol als trainer en trainingsacteur omvat het samenwerken met
            organisaties en werknemers, waarbij we interactieve rollenspellen en
            scenario's creëren die bedrijven in de praktijk kunnen tegenkomen.
            Het doel is om de competenties en communicatieve vaardigheden van
            werknemers te versterken.
            <br />
            <br />
            Mijn persoonlijke reis heeft mijn overtuiging gevoed dat veerkracht en
            zelfontwikkeling de kern vormen van een vervuld leven. Nu deel ik mijn
            ervaringen en expertise om anderen te stimuleren het beste uit zichzelf
            te halen. Samen werken we aan een positieve verandering, één die niet
            alleen individuen, maar ook bedrijven en de gemeenschap als geheel ten
            goede komt. Laten we samen bouwen aan een toekomst waarin inspiratie
            en groei centraal staan.
          </p>
          <div class="divider"></div>
          <div class="footer-socials">
            <div class="socialIcon">
              <a
                href="https://www.instagram.com/wailalami_/"
                target="_blank"
              >
                <svg
                  width="19"
                  height="18"
                  viewBox="0 0 19 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M13.5 0H5.5C2.73858 0 0.5 2.23858 0.5 5V13C0.5 15.7614 2.73858 18 5.5 18H13.5C16.2614 18 18.5 15.7614 18.5 13V5C18.5 2.23858 16.2614 0 13.5 0ZM16.75 13C16.7445 14.7926 15.2926 16.2445 13.5 16.25H5.5C3.70735 16.2445 2.25549 14.7926 2.25 13V5C2.25549 3.20735 3.70735 1.75549 5.5 1.75H13.5C15.2926 1.75549 16.7445 3.20735 16.75 5V13ZM14.25 5.25C14.8023 5.25 15.25 4.80228 15.25 4.25C15.25 3.69772 14.8023 3.25 14.25 3.25C13.6977 3.25 13.25 3.69772 13.25 4.25C13.25 4.80228 13.6977 5.25 14.25 5.25ZM9.5 4.5C7.01472 4.5 5 6.51472 5 9C5 11.4853 7.01472 13.5 9.5 13.5C11.9853 13.5 14 11.4853 14 9C14.0027 7.8057 13.5294 6.65957 12.6849 5.81508C11.8404 4.97059 10.6943 4.49734 9.5 4.5ZM6.75 9C6.75 10.5188 7.9812 11.75 9.5 11.75C11.0188 11.75 12.25 10.5188 12.25 9C12.25 7.4812 11.0188 6.25 9.5 6.25C7.9812 6.25 6.75 7.4812 6.75 9Z"
                    fill="#979797"></path>
                </svg>
              </a>
            </div>
            <div class="socialIcon">
              <a href="https://nl.linkedin.com/in/wail-alami-336199206" target="_blank">
                <svg
                  width="19"
                  height="18"
                  viewBox="0 0 19 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M2.5 0H16.5C17.6046 0 18.5 0.89543 18.5 2V16C18.5 17.1046 17.6046 18 16.5 18H2.5C1.39543 18 0.5 17.1046 0.5 16V2C0.5 0.89543 1.39543 0 2.5 0ZM5.5 15C5.77614 15 6 14.7761 6 14.5V7.5C6 7.2239 5.77614 7 5.5 7H4C3.72386 7 3.5 7.2239 3.5 7.5V14.5C3.5 14.7761 3.72386 15 4 15H5.5ZM4.75 6C3.92157 6 3.25 5.32843 3.25 4.5C3.25 3.67157 3.92157 3 4.75 3C5.57843 3 6.25 3.67157 6.25 4.5C6.25 5.32843 5.57843 6 4.75 6ZM15 15C15.2761 15 15.5 14.7761 15.5 14.5V9.9C15.5325 8.3108 14.3576 6.95452 12.78 6.76C11.677 6.65925 10.6083 7.1744 10 8.1V7.5C10 7.2239 9.7761 7 9.5 7H8C7.7239 7 7.5 7.2239 7.5 7.5V14.5C7.5 14.7761 7.7239 15 8 15H9.5C9.7761 15 10 14.7761 10 14.5V10.75C10 9.9216 10.6716 9.25 11.5 9.25C12.3284 9.25 13 9.9216 13 10.75V14.5C13 14.7761 13.2239 15 13.5 15H15Z"
                    fill="#979797"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="wrapper">
      <div class="padding-normal">
        <div class="img-wrapper max-h-800">
          <img src="/images/over-mij-second.jpg" alt="" />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  .over-mij-section {
    background-color: var(--color-bg-light);
  }
  .over-mij-header {
    display: flex;
    gap: 2.5rem;
    flex-direction: row;
    padding: 4rem 0;
  }

  .over-mij-image-wrapper {
    object-fit: contain;
    height: 520px;
  }

  .over-mij-heading-wrapper {
    padding-top: 1.5rem;
  }

  .heading-style-h1-alt {
    font-size: 3.8rem;
    font-style: italic;
    font-weight: 600;
  }

  .sub-content-block {
    margin-bottom: 4rem;
  }

  .multi-column-text {
    column-count: 2;
    column-gap: 2rem;
  }

  .break-column {
    break-before: column;
  }
</style>
