---
//---start CTA component
---

<div class="CTA-wrapper">
  <div class="wrapper">
    <div class="CTA-container">
      <div class="quote-wrapper">
        <q>
          Samen groeien begint bij contact maken.
        </q>
      </div>
      <div class="cta-content">
        <p>
          Meld je aan voor mijn mail lijst waarin ik informatie deel over
              nieuwe blogs, zelfontwikkeling, gezondheid, boeken en/of gewoon
              waar ik me mee bezig houd.
        </p>
        <a href="/contact" class="normal-button">Contact</a>
      </div>
    </div>
  </div>

</div>

<style>
  .CTA-wrapper {
    background: var(--color-bg-yellow);
    color: var(--color-black);
    padding: 4rem 0;
  }

  .CTA-container {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
  }

  .quote-wrapper {
    flex: 1;
  }

  .cta-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    max-width: 30rem;
  }
</style>
