---
//---start CTA component
import { getSingleEntry } from "../lib/getContentfulEntry.js";
const ctaContent = await getSingleEntry('cta');

---

<div class="CTA-wrapper">
  <div class="wrapper">
    <div class="CTA-container">
      <div class="quote-wrapper">
                {
          ctaContent ? (
            <q>{ctaContent.quote}</q>
          ) : (<p>content not found</p>)
        }
        <!-- <q> {CTAheader}</q> -->
      </div>
      <div class="cta-content">
        {
          ctaContent ?(<p>{ctaContent.ctaBodyText}</p>) : (<p>content not found</p>)
        }
        <!-- <p>
          {CTAbody}
        </p> -->
        <a href="/contact" class="normal-button button-second">Contact</a>
      </div>
    </div>
  </div>
</div>

<style>
  .CTA-wrapper {
    background: var(--color-bg-yellow);
    color: var(--color-black);
    padding: 4rem 0;
  }

  .CTA-container {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
  }

  .quote-wrapper {
    flex: 1;
  }

  .cta-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    max-width: 30rem;
  }

  /* ---- responsive ---- */
  @media (max-width: 768px) {
    .CTA-container{
      flex-direction: column;
    }
  }
</style>
