---
const url = new URL(Astro.request.url);
const currentPath = url.pathname;
---

<div class="nav-wrapper">
  <div class="wrapper">
    <div class="nav-container">
      <div class="logo-wrapper">
        <a href="/"> <img src="/images/new_logo_1.svg" alt="" /></a>
      </div>
      <div class="menu-wrapper">
        <button
          class="hamburger"
          id="hamburger-button"
          aria-label="Toggle navigation"
        >
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </button>
        <ul class="nav-links mobile-menu" id="mobile-menu">
          <li class={`nav-link ${currentPath === "/over-mij" ? "active" : ""}`}>
            <a href="/over-mij">Over Mij</a>
          </li>
          <li
            class={`nav-link ${currentPath === "/trainingen" ? "active" : ""}`}
          >
            <a href="/trainingen">Trainingen</a>
          </li>
          <li class={`nav-link ${currentPath === "/acteren" ? "active" : ""}`}>
            <a href="/acteren">Acteren</a>
          </li>
          <li class={`nav-link ${currentPath === "/blog" ? "active" : ""}`}>
            <a href="/blog">Blog</a>
          </li>
          <li class={`nav-link ${currentPath === "/contact" ? "active" : ""}`}>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script is:inline>
  const button = document.getElementById("hamburger-button");
  const menu = document.getElementById("mobile-menu");

  button.addEventListener("click", () => {
    button.classList.toggle("open");
    menu.classList.toggle("open");
  });
</script>

<style>
  /* ------- responsive menu--------- */

  .hamburger {
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 1001;
  }

  .hamburger .line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: 0.3s ease;
    transform-origin: center;
    position: relative;
  }

  .hamburger.open .line:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
  }

  .hamburger.open .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .line:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
  }

  @media (max-width: 768px) {
    .nav-links {
      display: none !important;
      flex-direction: column;
      gap: 1rem;
    }

    .hamburger {
      display: flex;
      position: absolute;
      top: 1rem;
      right: 1rem;
      background-color: transparent;
      z-index: 1001;
    }

    .nav-links.mobile-menu.open {
      display: flex !important;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      background-color: var(--color-bg-dark);
      padding: 2rem;
      position: absolute;
      top: 80px;
      height: 100%;
      right: 0;
      left: 0;
      animation: slideDown 0.3s ease forwards;
    }

    .mobile-menu li a{
      font-size: 1.4rem;
    }
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* -------------------------------- */

  .nav-wrapper {
    background-color: var(--color-bg-dark);
    color: var(--color-white);
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--color-black);
  }

  .nav-links {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    transition: all 0.3s ease;
  }

  .nav-link {
    text-decoration: none;
    color: var(--color-white);
    font-size: var(--font-size-small);
    font-family: var(--font-heading);
  }

  .active {
    color: var(--color-bg-yellow);
  }

  a {
    text-decoration: none;
    color: white;
    font-size: var(--font-size-small);
    transition: color 0.5s;
  }

  a:hover {
    color: var(--color-bg-yellow);
  }

  .nav-link.active a {
    color: var(--color-bg-yellow);
  }
</style>
