---
import "keen-slider/keen-slider.min.css";
import { testimonialsData } from "../data/testimonials";
// import { getSingleEntry } from "../lib/getContentfulEntry";
import { processImageAsset, getImageUrl } from "../utils/imageHelper.js";
import { getAllTestimonials } from "../lib/getAllTestimonials";

const testimonials = await getAllTestimonials();

// @ts-ignore
function formatDate(dateString) {
  return new Date(dateString).toLocaleDateString("nl-NL", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
}
---

<section class="testimonials">
  <div class="wrapper">
    <div class="testimonials-header">
      <h2>Testimonials</h2>
      <p>Zij waren u voor!</p>
    </div>

    <div class="slides-btn-wrapper">
      <button class="slider-btn prev">
        <img
          src="/images/testimonials/left-arrow.svg"
          alt=""
          class="slider-btn-img"
        />
      </button>
      <button class="slider-btn next">
        <img
          src="/images/testimonials/right-arrow.svg"
          alt=""
          class="slider-btn-img"
        />
      </button>
    </div>
    <div class="keen-slider slides-container">
      {
        testimonials && testimonials.map((item) => (
          <div class="keen-slider__slide slide">
            <div class="test-score">
              
                <img
                  src="/images/testimonials/star.svg"
                  alt=""
                  class="img-no-radius"
                />
                                <img
                  src="/images/testimonials/star.svg"
                  alt=""
                  class="img-no-radius"
                />                <img
                  src="/images/testimonials/star.svg"
                  alt=""
                  class="img-no-radius"
                />                <img
                  src="/images/testimonials/star.svg"
                  alt=""
                  class="img-no-radius"
                />                <img
                  src="/images/testimonials/star.svg"
                  alt=""
                  class="img-no-radius"
                />
             
            </div>
            <div class="test-text-wrapper">
              <p>{item.fields.inhoud}</p>
            </div>
            <div class="test-avatar-content">
              <div class="test-avatar-wrapper">
                <img
                // @ts-nocheck 
                  src={
                    item.fields.avatar?.fields?.file?.url  ||
                    "/images/testimonials/testimonials_avatar_empty.svg"
                  }
                  alt={`Avatar van ${item.fields.name}`}
                  class="img-no-radius"
                />
              </div>
              <div class="test-avatar-titel">
                <h4>{item.fields.name}</h4>
                <p>{formatDate(item.fields.date)}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<script>
  import keenSlider from "keen-slider";
  const slider = new keenSlider('.keen-slider', {
    loop: true,
    slides: {
      perView: 1,
      spacing: 15,
    },
  });

  document.querySelector('.slider-btn.prev')?.addEventListener('click', () => slider.prev());
  document.querySelector('.slider-btn.next')?.addEventListener('click', () => slider.next());
</script>

<style>
  .testimonials {
    background-color: var(--color-bg-dark);
    color: var(--color-white);
    padding: 7rem 0;
  }

  .testimonials-header {
    margin-bottom: 2.5rem;
  }

  .test-score {
    margin-bottom: 1.5rem;
    display: flex;
    gap: 0.4rem;
  }

  .slides-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .slider-btn {
    background: transparent;
  }

  .slider-btn-img {
    width: 3.75rem;
  }

  .test-avatar-content {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .test-avatar-wrapper {
    width: 57px;
  }

  .test-text-wrapper {
    margin-bottom: 2rem;
  }

  .test-text-wrapper p {
    max-width: 64ch;
  }

  .test-avatar-titel{
    font-size: 1rem;
  }

  .test-avatar-titel p{
    font-size: 1rem;
  }

  .test-avatar-titel h4 {
    margin-bottom: 0.3rem;
  }

  /* .keen-slider__slide {
    border: 1px dashed limegreen;
  } */

  .keen-slider {
    overflow: hidden;
    position: relative;
  }

  .keen-slider__slide {
    min-width: 100%;
  }

  .test-avatar-wrapper img{
    max-width: 4rem;
  }

   @media (max-width: 768px) {
    .testimonials {
      padding: 2rem 0;
    }

    .keen-slider {
      max-height: 55.7rem;
    }

   }
</style>
