---

---

<section class="testimonials">
  <div class="wrapper">
    <div class="testimonials-header">
      <h2>Testimonials</h2>
      <p>Zij waren u voor!</p>
    </div>

    <div class="slides-btn-wrapper">
      <button class="slider-btn">
        <img
          src="/images/testimonials/left-arrow.svg"
          alt=""
          class="slider-btn-img"
        />
      </button>
      <button class="slider-btn">
        <img
          src="/images/testimonials/right-arrow.svg"
          alt=""
          class="slider-btn-img"
        />
      </button>
    </div>
    <div class="slides-container">
      <div class="slide">
        <div class="test-score">
          <img src="/images/testimonials/star.svg" alt="" class="img-no-radius">
        </div>
        <div class="test-text-wrapper">
          <p>
            Ik heb het genoegen mogen hebben om als trainer zijnde te werken met Wail. Zijn professionele houding, ervaring en kennis sprongen uit het oog en vielen dan ook in de meest positieve zin op. De feedback die hij geeft tijdens een training is waardevol en ook iets waar een cursist echt wat mee kan.
            <br>
            Ik heb Wail later ook als workshopleider, spreker en trainer in actie mogen zien, dit was fenomenaal! Hij weet zijn doelgroep te binden, de aandacht vast te houden en vooral impact te maken op de groepen waar hij voor staat.
            <br>
            Wail durft zich kwetsbaar op te stellen en heeft het nodige meegemaakt in zijn leven wat hij dan ook meeneemt in zijn werk.
            <br>
            Ik kijk uit naar onze volgende samenwerking!
          </p>
        </div>
        <div class="test-avatar-content">
          <div class="test-avatar-wrapper">
            <img src="/images/testimonials/testimonials_avatar_empty.svg" alt="" class="img-no-radius">
          </div>
          <div class="test-avatar-titel">
            <h4>Name Person</h4>
            <p>Oktober 14, 2023</p>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>

<style>
  .testimonials {
    background-color: var(--color-bg-dark);
    color: var(--color-white);
    padding: 7rem 0;
  }

  .testimonials-header {
    margin-bottom: 2.5rem;
  }

  .slides-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .slider-btn {
    background: transparent;
  }

  .slider-btn-img {
    width: 3.75rem;
  }

  .test-avatar-content{
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .test-avatar-wrapper{
    width: 57px;
  }


</style>
